$primery-color-1: white;
$primery-color-2: black;
$primery-color-3: #031439;
$primery-color-4: #e5e5e5;
$primery-color-5: #14213d;
$primery-color-6: #951904;
$primery-color-7: #fffdf7;
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
